<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



 <div class="container">
  <div ckass="row">
   <div class="col-md-12 col-sm-12 col-xs-12" >

     </div>
       
<body style="background:url('http://www.bhmpics.com/wallpapers/new_york_architecture-1920x1200.jpg');background repeat: no-repeat; background-attachment : fix; background-size:100%; 
-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;">
  


      <!-- Static navbar -->
      



    
    <p> </p>
    
    <center>
    <br/>
    <br/>
     <button type="button" class="btn btn-success"> 한국영화 </button> 
     <button type="button" class="btn btn-info"> 미국영화 </button>
    <button type="button" class="btn btn-warning"> 유럽영화</button>
    <button type="button" class="btn btn-danger"> 일본영화 </button>
        <p> </p> <br/><br/><br/>
        
  
 
    
 <span style="color: #FCD2D2"; ><p><h1>WELCOME TO MOVIE PLACE!  </h1> </p></span> <br/>
<span style="color: white"><p><h3>영화 속 장소로 떠나요!</h3> </p></span> <label> <br/>
    
     
     
     <form action="/movie/moviename" method="GET">
<input type="text" name="fname"  placeholder="당신의 이름을 입력하세요">
<input type="submit" value="영화추천 클릭!">
</form>
  
    
 

 
    
    <div id="feed"></div>
    
 
   
    </center>
  </div>
  
   </div>
	 






